<main class="col-lg-8 col-md-8 container col-lg-offset-4 col-md-offset-4">
    <div>
        <!--search form-->
        <form class="form-group-sm" role="search">
            <div class="col-lg-5 col-md-3">
                <input type="text" class="input-sm form-control" id="itemSearch" placeholder="Search for Item"/>
            </div>
            <div class="col-lg-1 col-md-1">
                <button class="btn btn-primary form-control" type="button"><span
                        class="glyphicon glyphicon-search"></span></button>
            </div>
        </form>
    </div>
    <div class="">

    </div>
</main>