<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>WebStore</title>
    <meta name="author" content="Adrian J Lopez"/>
    <meta name="version" content="1.4"/>
    <meta name="since" content="Jun 14, 2015"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="stylesheet" href="../public/bootstrap/dist/css/bootstrap.min.css"
          th:href="@{/bootstrap/dist/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../public/bootstrap/dist/css/bootstrap-theme.min.css"
          th:href="@{/bootstrap/dist/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../static/css/site.css" th:href="@{/css/site.css}"/>
</head>
<body ng-app="pageView">
<header>
    <!--future place for javascript code to load additional nav bar items -->

    <nav class="nav navbar-default navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WebStore</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <!-- add nav -->
                <ul class="nav navbar-nav">
                  <li></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div>
                            <!--search form-->
                            <form class="navbar-form form-group-sm" role="search">
                                <input class="input-sm form-control" type="search" id="searchItem" />
                                <button class="btn btn-primary form-control" type="button"><span
                                        class="glyphicon glyphicon-search"></span></button>
                            </form>
                        </div>
                    </li>
                    <li>
                        <!--login button with drop down login form -->
                        <div class="dropdown">
                            <a class="btn btn-primary dropdown-toggle navbar-btn btn-sm collapse in" href="#"
                               data-toggle="dropdown">Login
                                <span class="caret"></span></a>

                            <form class="dropdown-menu form-group-sm navbar-form martop" role="menu"
                                  aria-labelledby="dropdownMenu" ng-submit="userSearch(username, password)">
                                <ul class="form-group nopadding">
                                    <input class="input-sm form-control" required type="text" placeholder="User Name" ng-model="username"/>
                                    <input class="input-sm form-control" required type="password" placeholder="Password" ng-model="password"/>
                                    <button type="submit" class="btn btn-sm btn-primary form-control">Sign in</button>
                                </ul>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="page-header" >
        <!--future place for javascript to name the page-->
    </div>
</header>
<aside class="col-lg-2 col-md-2 container">
    <nav class="nav navbar" >
        <!--future place for javascript code to load nav bar items -->


    </nav>
</aside>
<div ng-view></div>
<footer >
    <!--future place for javascript code to load the company information links-->
</footer>
<script type="text/javascript" src="../public/jquery/dist/jquery.min.js"
        th:src="@{/jquery/dist/jquery.min.js}"></script>
<script type="text/javascript" src="../public/angular/angular.min.js"
        th:src="@{/angular/angular.min.js}"></script>
<script type="text/javascript" src="../public/angular-route/angular-route.min.js"
        th:src="@{/angular-route/angular-route.min.js}"></script>
<script type="text/javascript" src="../public/bootstrap/dist/js/bootstrap.min.js"
        th:src="@{/bootstrap/dist/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../static/js/app.js"
        th:src="@{/js/loadcontent.js}"></script>
</body>
</html>